*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f8f8;
}

.card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}
.card span{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    /* background: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card span::before{
    content: 'Лучшее цены';
    position: absolute;
    width: 150%;
    height: 40px;
    background: #ff0000;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card span::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0;
    background: #701c1c;
    z-index: -1;
    box-shadow: 140px -140px #701c1c;
    /* 150px - 10 = 140 */
}